@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Segoe UI Black";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
  url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Franklin Gothic - Demi";
  src: url("../fonts//FRADM.TTF");

  font-style: normal;
  font-weight: normal;
}